body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #efefef;
}

* {
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
}

main {
  width: 100vw;
  height: calc(100vh - 5rem);
  background-color: #efefef;
  z-index: -11;
  padding-top: 2.5rem;
}

nav {
  width: calc(100% - 4rem);
  background-color: #fff;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 2rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 1rem;
  border-bottom: 1px solid #dedede;
  position: fixed;
  top: 0;
  left: 0;
}

nav a {
  text-decoration: none;
  color: #666666;
  transition: color 200ms ease-in-out;
}

nav a:hover {
  color: #000000;
  cursor: pointer;
}
